
body{
  margin: 0;
  text-align: center;
}
div{
  background-color: rgb(0, 200, 255);
}
h1{
  margin: 0 auto;
  width: 10%;

}
.middle-container{
  background-color: blue;
  height: 200px;
  width: 200px;

}
.bottom-container{
  background-color: red;
  height: 200px;
  width: 200px;

}