
body{
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial sans-serif;
}
.top-container{
  background-color: rgb(131, 195, 212);
  position: relative;
  padding-top: 100px;
}
h1{
  margin-top: 0;
 

}
.middle-container{


}
.bottom-container{


}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
